{% extends 'flatpages/default.html' %}


{% load i18n %}



{% block title %}
Posts
{% endblock title %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">


</form>

{% if posts %}
      <h1>{% trans "Все объявления" %}: {{ posts|length }}</h1>
   {% else %}
       <!-- Если товаров нет, говорим, что товаров нет ;) -->
       <h2>Объявлений нет!</h2>
{% endif %}


<hr>
    {% if posts %}

            {% for post in posts %}
<h2>
<a href="{{ post.get_absolute_url }}">{{ post.header}} </a>
</h2>
<p class="date">
{{ post.user.username }} {{ post.publish }}
</p>
{{ post.text|truncatewords:200|linebreaks }}
<p><img width="500" src="{{post.image.url}}" alt=""></p>
{% endfor %}

    {% else %}
        <h2>Постов нет!</h2>
    {% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}